@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
.App {
  text-align: center;
  font-family: 'Readex Pro', sans-serif;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  background: rgba(0, 0, 30, 0.7);
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.form-input {
  border-radius: 0;
}

body {
  background-image: linear-gradient(
          115deg,
          rgba(255, 0, 0, 0.4),
          rgba(255, 0, 0, 0.4)
  ),
  url(https://media-exp1.licdn.com/dms/image/C561BAQEgL6CpdGdm5A/company-background_10000/0/1571043556556?e=2147483647&v=beta&t=pUZFd7ZBABsm1k6dM2THmPAV9NTEba6dAfeks2Sk4yE);
  background-size: cover;
}
